Q.1
Comment in python can be made through #(hash) symbol.
There are two types of comments in python:
1. Single line comment
#This is how single line comment is being written
2. Multi line comment using hash
# My name is mahima shukla.
# I am a data science enthusiast.
# I got amazing mentors in this data science course.
  Multi line comment using string literal
"""Python is a versatile language, commonly used for data analysis, automation,
data visualisation etc. Python is being taught to us by Sudhanshu Sir.We learnt
about python variables,operators,conditions,data types like string,list,tuple,
dictionary and their associated functions"""

Q.2
Variables in python store values. To assign the value, we need variables ie to
give name to that object. For example we have stored "mahima" in variable var. It can be defined by following ways.

In [5]:
var="mahima"
print(var)

mahima

In [6]:
var="krishna"
var_="sam"
_var="john"
VAR="hari"
age=10
i_=True
print(var,var_,_var,VAR,age,i_)

krishna sam john hari 10 True

Q.3
One data type can be converted to another using type catsing/type conversion.
For this we use the type name as a function.
For example

In [17]:
l="pwskills"
print(tuple(l))

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [16]:
l="please"
print(set(l))

{'e', 'l', 'a', 's', 'p'}

In [20]:
s="ram"
l=[1,2,3,4,"kitty",True]
l+s """showing error bcz l and s have differnt data type so we will do
 type casting to solve this problem"""

TypeError: ignored

In [19]:
l+list(s)

[1, 2, 3, 4, 'kitty', True, 'r', 'a', 'm']

Q.4
To run the scripts with the python command, we need to open command prompt and
type python , then simply use print command with braces to execute the code like

print ('mahima shukla')

mahima shukla

In [22]:
#Q.5
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

Q.6 Complex number in mathematics is a combination of real and imaginary numbers.In python it can be represented as

In [26]:
c=5+3j
print(type(c))
print(c.real)
print(c.imag)

<class 'complex'>
5.0
3.0

Q.7 To declare the variable age, it should not start with a number, Age ,age and AGE is treated differently, can include alpha numeric characters and underscore.

In [31]:
_age=25
print(_age)
age0=25
print(age0)
a_g_e=25
print(a_g_e)

25
25
25

In [28]:
print(_Age)

NameError: ignored

In [32]:
#Q.8
price=9.99
type(price)#it belong to float data type

float

In [33]:
#Q.9
name="mahima shukla"
print(name)

mahima shukla

In [40]:
#Q.10
s="Hello, World!"
s[6:12]

' World'

In [45]:
#Q.11
is_student=True
if is_student==True:
    print("you are currently a student")
else:
    print("you are not currently a student")

you are currently a student